:root {
  --background-color-page:  #2a1b3d;
  --standart-color-page: #44318d;
  --background-cards: white;

}
.corpo{
    background-color: var(--background-color-page);
    padding: 0px 10px 0px 10px;
}
/* .grid-wrapper >*{
    border-radius: 25px;
} */

.grid-wrapper{
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(3, 1fr);
    
}
header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}
.menu-categoria {
    border-radius: 20px;
    min-width: 1fr;
    max-width: 1fr;
    grid-row: 2 / 4;
    height: 1fr;
    background-color: var(--background-cards);
}
footer{
    height: 1fr;
    grid-column: 1 / -1;
}
.container-card {
    border-radius: 20px;
    min-height: 150px;
    background-color: var(--background-cards); 
}
.container-card{
    display: flex;
    flex-direction: column;
}
.image-cards{
    align-self: flex-start;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    
}


@media screen and (max-width: 576px) {
    
    .grid-wrapper{
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    article {
        margin: 0px 10px 0px 10px;
        min-height: 250px; 
        max-width: 100%;  
    }
    .menu-categoria{
        display: none;
    }

}

@media screen and (min-width: 577px) {
    
    .grid-wrapper{
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 1px;
        
    }
    article {
        margin: 0px 10px 0px 10px;
        max-width: 100%;   
    }
    .menu-categoria {
        margin: 0px 10px 0px 10px;
        max-width: 100%;
        grid-row: 2 / 4;
        height: 1fr;
    }
}

@media screen and (min-width: 992px) {
    
    .grid-wrapper{
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

    }
    article {
        
        min-width: 260px;
        max-width: 100%;
        min-height: 100px;
    }
    .menu-categoria {
        min-width: 260px;
        max-width: 100%;
        grid-row: 2 / 4;
        height: 1fr;
    }
}

@media screen and (min-width: 1200px) {

    .grid-wrapper{
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

    }
    article {
        
        min-width: 250px;
        max-width: 400px;
        min-height: 100px;
        max-height: 400px;
    }
    .menu-categoria {
        min-width: 250px;
        max-width: 400px;
        grid-row: 2 / 4;
        height: 1fr;
}
}

@media screen and (min-width: 1500px) {

    .grid-wrapper{
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;

    }
    article {
        
        min-width: 250px;
        max-width: 400px;
        min-height: 250px;
        max-height: 400px;
    }
    .menu-categoria {
        min-width: 250px;
        max-width: 400px;
        grid-row: 2 / 4;
        height: 1fr;
}
}


@media (min-width: 768px) {
    .navbar-custom {
        padding-top: 25px;
    }
}

.nav-link:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.nav-link.active {
    font-weight: 600;
}

.navbar-custom {
    height: 45px;
}

.container-fluid {
    background-color: #44318d;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.margin-adjust {
    margin-top: 140px;
}