.modal-container{
    
    display: none;
    position:relative;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color:rgba(15, 15, 15, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.modal-body{
    text-align: center;
    padding: 15px;
    margin: 10%;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    height: 60%;
    box-shadow: 2px 2px 25px gray; 
    overflow: hidden;

}
.fechar-modal{
    display: flex;
}
.modal-titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal-descricao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal-empresa{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.modal-horas{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.btn-participar{
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 10px 8px 10px;
    text-align: center;
    width: 150px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d83f87;
    color: white;
}
.modal-dados-empresa-horas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.btn-fechar-modal{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 1.5rem;
    fill: #44318d;
    align-self: flex-end;
    cursor: pointer;
}
.modal-img{
    display: inline-block;
}


@media screen and (max-width: 576px){
    .modal-body{
        width: 95%;
        padding: 15px;
        box-sizing: border-box;
    }
    .modal-img{
        width: auto;
        max-width: 200px;
    }

}

@media screen and (min-width: 577px){
    .modal-body{
        width: 80%;
        padding: 15px;
        box-sizing: border-box;
    }
    .modal-img{
      
        max-width: 40%;
    } 
}

@media screen and (min-width: 992px) {

    .modal-body{
        max-width: 50%;
        padding: 15px;
        box-sizing: border-box;
    }
    .modal-img{
        
        width: auto;
        max-width: 350px;
    }
}
@media screen and (min-width: 1200px){
    .modal-body{
        max-width: 60%;
        padding: 15px;
        box-sizing: border-box;
    }
    .modal-img{
        width: auto;
        max-width: 300px;
    }
}
@media screen and (min-width: 1500px){
    .modal-body{
        max-width: 45%;
        padding: 15px;
        box-sizing: border-box;
    }
    .modal-img{
        width: auto;
        min-width: 30%;
        max-width: 35%;

    }
}