* { 
    margin: 0;
}
.projetos{
    margin: 0;

}
#logo_superior{
    width: 50px;
   }
.menu{
    margin: 0;
}
.menu li{
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.menu li:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
   
}
.categoria {
    display: block;
   
}
.categoria h3{
    font-size: 1.2rem;
}
header{
    background-color: gainsboro;
}

.footer_inf {
    
}
.card{
    margin-top: 15px;
}
.menu_categoria li:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.menu_categoria li{
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: block;
}
.menu_categoria li a{
    text-decoration:  none;
    color: black;
}
.footer_inf div{
    display: inline-block;
}
.footer_inf ul{
    list-style: none;
}
.footer_inf {
   
}