@media (min-width: 768px) {
    .navbar-custom {
        padding-top: 25px;
        /* Adicione o valor de padding desejado para o modo grande */

    }
}

.nav-link:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.nav-link.active {
    font-weight: 600;
}

.navbar-custom {
    height: 45px;
}

.container-fluid {
    background-color: #44318d;
}

.navbar-toggler {
    border: none;
    outline: none;
}


/* COR DE FUNDO DA NAV */

.navbar {
    position: relative;
}

.navbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1796f0;
    z-index: -1;
}