:root {
    --cor-1: #7f66a7;
    --cor-2: #d83f87;
    --cor-3: #2a1b3d;
    --cor-4: #a4b3b6;
    --cor-5: #44318d;
}

html,
body {
    background-color: var(--cor-3);
    margin-right: 2%;
    margin-left: 2%;
    overflow-x: hidden;
    max-width: 100%;
}

.section-1{
    margin-bottom: 120px;
}

.section-1 img{
    width: 200px;
}

.section-1 h2, h3, h5{
    color: var(--cor-5);
}

.cor-texto{
    color: var(--cor-2);
}

.btn-secondary {
    background-color: var(--cor-2);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--cor-1);
    border: none;
    scale: 1.1;
}

@media print {
    body {
      font-size: 16px;
      color: black;
      overflow: hidden;
    }
    header{
        display: none;
    }
    footer{
        display: none;
    }
    #imprimirButton{
        display: none;

    }
    #certificacaoId{
        border: 0;
    }

}