.perfil {
    padding: 10px ;
    margin: 30px;
 }
 
 .info {
    position: absolute;
    top: 200px;
    right: 750px;
 }

 .rank {
    position: absolute;
    top: 180px;
    right: 500px;
 }
 
 .certificado {
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 .niveis {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 h3 {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 

 .cards {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
}

.titulo {
   border-radius: 15px;
   box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
   padding: 20px;
   margin: 20px;
   width: 300px;
   transition: all 0.3s ease-out;
   color: white;
   
   
}

.titulo:hover {
   transform: translateY(-5px);
   cursor: pointer;
}

.titulo p {
   font-size: 16px;
}

.icone-niveis {
   width: 15px;
   height: 15px;
}

.cards:hover {
   background-color: #44318D;
   color: black;
}

.projetos {
   margin-bottom: 200px;
}

.body {
   margin: 60px;
   background-color: #2A1B3D;
   color: aliceblue;
   border-radius: 15px;
}



