html,
body {
    background-color: #2a1b3d;
    margin-right: 2%;
    margin-left: 2%;
}

.section {
    margin-bottom: 3%;
}

.section-1 img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.perfil {
    border-radius: 50%;
}


.section-2 img {
    width: 40px;
}

.section-2 span {
    font-weight: 700;
}

.btn-secondary {
    background-color: #d83f87;
    border: none;
}

.btn-secondary:hover {
    background-color: #7f66a7;
    scale: 1.1;
}

.section-3 img {
    padding: 8px;
}

.section-3 h5 {
    color: #44318d !important;
}

.section-3 {
    margin-bottom: 120px;
}

.btn-back {
    display: none;
    cursor: pointer;
    color: white;
}

.btn-next {
    display: none;
    cursor: pointer;
    color: white;

    
}